name: Deploy ke Heroku

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh

      - name: Setup Heroku Auth
        run: |
          echo "machine api.heroku.com\n  login listyaromalia@pesawaran.live\n  password HRKU-8e68c006-b2e5-4d69-9ecc-7f9855cf2652" > ~/.netrc
          echo "machine git.heroku.com\n  login listyaromalia@pesawaran.live\n  password HRKU-8e68c006-b2e5-4d69-9ecc-7f9855cf2652" >> ~/.netrc
          heroku container:login

      - name: Push ke Heroku Container
        run: heroku container:push web --app herta

      - name: Rilis Web Heroku
        run: heroku container:release web --app herta
